- if @category
  .category-label
    %h1= @category.name
    %p= markdown(@category.description)

  %ul.projects
    = render @projects    
- else
  - @categories.shuffle.each do |category|
    .category-label
      %h2= category.name
      %p= category.description
    %ul.projects
      = render category.projects.shuffle

