- if @category
  %h1= @category.name
  %p= markdown(@category.description)

  %ul.projects
    = render @projects    
- else
  - @categories.each do |category|
    %h2= category.name
    %p= category.description
    %ul.projects
      = render @projects

